.searches{
    font-size: 40px;
    color: white
}
.historybox{
    height: 500px;
    width: 500px;
    background-color:#1f2833;
    border-radius: 60px;
    margin-top: 50px;
    margin-left: 700px;
    border-style: solid;
    border-color: #45a29e
    
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center; */
    
}
.recenttext{
    color: #66fcf1
}