.searches{
    font-size: 40px;
}
.historybox{
    height: 500px;
    width: 500px;
    background-color: #C9C9C9;
    border-radius: 60px;
    margin-top: 50px;
    margin-left: 700px;
    
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center; */
    
}
.recenttext{
    color: white
}