@import url('https://fonts.googleapis.com/css?family=Lobster');

.uploadlogo{
    height: 400px;
    width: 400px;
    
    
}
.searchlogo{
    margin-top: 60px;
    height: 200px;
    width: 200px;
}

.upload{
    color: #66fcf1;
    border-radius: 60px;
}
.searchbox{
    color: #66fcf1;
    border-radius: 60px;
}
.motto{
    text-align: left;
    font-size: 16px;
    margin-left: 200px;
    margin-top: -40px;
    font-family:  Lobster
    
}
.historybtn{
    margin-top: 10px;
}
/* .navbar{
    margin-left: -30px;
    margin-top: -19px;
    margin-bottom: 10px;
    height: 110vh;
    width: 250px;
    background-color: red;
} */