
.App {
  text-align: center;
  /* background-color: #696969; */
  
}





.App-header {
  background-color: #001D9B;  
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.Header-title{
  text-align: left;
  color:white
  
}


.searchbar{
  margin-right: 470px;
  
}
.upload{
  height: 450px;
  width: 400px;
  background-color:#C9C9C9;
  margin-top: 150px;
  margin-left: 350px;
}

.searchbox{
  height: 450px;
  width: 400px;
  background-color:#C9C9C9;
  margin-top: -450px;
  margin-left: 1200px;
}

.signup{
  margin-left: 1600px;

}

.footer{
  /* background-color: #696969; */
  height: 21vh;
  width: 100vh;
}