@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Lobster');


.App {
  text-align: center;
  /* background-color: #696969; */
  
}





.App-header {
  background-color: #1f2833;  
  height: 75px;
  padding: 20px;
  color: #66fcf1;
  font-family: 'Arvo'

  
}

.App-intro {
  font-size: large;
}


.Header-title{
  text-align: left;
  color: #66fcf1
  
}


.searchbar{
  margin-right: 470px;
  
}
.upload{
  font-family: 'Arvo';
  height: 450px;
  width: 400px;
  background-color: #1f2833;
  margin-top: 150px;
  margin-left: 350px;
  border-style: solid;
  border-width: 2px;
  border-color: #45a29e
}

.searchbox{
  font-family: Arvo;
  height: 450px;
  width: 400px;
  background-color:#1f2833;
  margin-top: -450px;
  margin-left: 1200px;
  border-style: solid;
  border-width: 2px;
  border-color: #45a29e
}

.signup{
  margin-left: 1600px;
  font-family: Arvo

}

.footer{
  /* background-color: #696969; */
  height: 21vh;
  width: 100vh;
}

.buttontheme{
  color: #45a29e;
  background-color: #1f2833;
  font-family: Arvo;
}
.footer{
  background-color: #1f2833;
  margin-top: 400px;
  height: 200px;
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  color: lightgrey;
}
.socialmedia{
  width: 50px;
  height: 50px;
}
.navbar{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
  margin-left: -30px;
  margin-top: 28px;
  height: 22vh;
  width: 250px;
  background-color: #1f2833;
}
.listfont{
  font-family: Arvo;
  color: white;
}
